<div class="modal fade" id="addToken" tabindex="-1" aria-labelledby="addToken" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form action="/addToken" method="POST">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="addToken">เพิ่มโทเค็นสำหรับเครื่องให้อาหาร</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <label for="addToken">กรุณากรอก Token</label>
                <input type="text" name="token" class="form-control" id="token" placeholder="XXXXXX-XXXXX" required>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-success">บันทึก</button>
            </div>
        </form>
        </div>
    </div>
</div>