<div class="modal fade" id="addDashboard" tabindex="-1" aria-labelledby="addDashboard" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <form action="/dashboard/add" method="POST">
            <div class="modal-header">
                <h5 class="modal-title" id="addDashboardLabel">เพิ่ม Dashboard ใหม่</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="mb-3">
                    <label for="feederToken" class="form-label">Token</label>
                    <input type="text" name="token" class="form-control" id="feederToken" placeholder="เช่น FEEDER-A001" required>
                    <div class="form-text">รหัสที่ติดอยู่กับตัวเครื่อง ESP32 ของคุณ</div>
                </div>

                <div class="mb-3">
                    <label for="dashboardName" class="form-label">ตั้งชื่อเรียกอุปกรณ์</label>
                    <input type="text" name="name" class="form-control" id="dashboardName" placeholder="เช่น เครื่องให้อาหารโมจิ" required>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
                <button type="submit" class="btn btn-success">บันทึก</button>
            </div>
        </form>
        </div>
    </div>
</div>